/*--------------------------
    Header Styles  
 --------------------------*/
 .logo-dark {
    display: none;
}

.header-default {
    max-width: 100%;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-darker);
    color: #fff;
    font-size: 12px;
    z-index: 99;
    /* Удалено 'position: relative;' */
    position: fixed; /* Добавлено */
    top: 0;          /* Добавлено */
    left: 0;         /* Добавлено */
    width: 100%;     /* Добавлено */

    .logo {
        a {
            display: flex;
            height: 80px;
            line-height: 80px;
            align-items: center;
            img {
                max-height: 35px;
            }
        }
    }

    .header-right {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;

        .header-btn {
            margin-left: 25px;
            @media #{$sm-layout} {
                display: none;
            }
        }
    }

    a ,
    button {
        &.btn-default {
            @media #{$sm-layout} {
                height: 36px;
                line-height: 35px;
                padding: 0 10px;
                font-size: 12px;
            }
            &.btn-small {
                @media #{$sm-layout} {
                    height: 36px;
                    line-height: 35px;
                    padding: 0 10px;
                    font-size: 12px;
                }
            }
        }
    }

    &.header-transparent {
        position: absolute;
        left: 0;
        right: 0;
        width: auto;
        background: transparent !important;
        backdrop-filter: inherit;
    }
}
